foriba-einvoice-cloud-client-app/src/main/java/wsdl/com/fitcons/einvoice/ClientEInvoiceServices-2/Schemas/ClientEInvoiceServices-2.1_importedschema_3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by S. Gökhan Topçu (FIT) -->
<!-- ©2013 FIT Consulting -->
<xs:schema xmlns="http:/fitcons.com/eInvoice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http:/fitcons.com/eInvoice/">
	<xs:element name="ProcessingFault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Code" type="xs:int"/>
				<xs:element name="Message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
